[run]
omit = */tests/*
        */migrations/*
        */apps.py
        terracommon/project/*
        terracommon/core/settings/*
        manage.py
source = .

[report]
exclude_lines = 
        raise NotImplementedError

show_missing = True
skip_covered = True
sort = Miss
