# Python
*.pyc

# Django local settings
/src/project/settings/local.py
terracommon/project/settings/local.py

# Docker local settings
docker.env

# IDE settings
/.vscode

# Virtualenv
/venv/

# Tests
.tox

# pip
terra_common.egg-info/
