# Python
*pyc
__pycache__
/develop_eggs
/cache
/venv*
\.venv*

# Deployment
/corpus-django
makina-states*-deploy.log
settings_local.py
salt*password*py
kgs.cfg
makina-states.flask-deploy.log
.buildout/
.installed.cfg
.mr.developer.cfg
/bin/
/eggs/
/lib/
/dist/
salt.cfg
salt_config.py
*.egg-info
*.mo
salt*check.py

# Django settings override
**/settings/local*.py

# BDD
*.sqlite3

# Frontend
/node_modules

# Tests, docs, etc
.coverage
.tox
docs/_build/

# Files
media/*
!media/.empty
static/*
!static/.empty

# IDE settings
.idea
docker.env
