psycopg2>=2.7,<2.8 --no-binary psycopg2
Django>=2.1,<2.1.13
djangorestframework>=3.8,<3.9
djangorestframework-gis>=0.14,<0.15
djangorestframework-jwt>=1.11,<1.12
drf-yasg>=1.9,<1.10
django-cors-headers>=2.2,<2.3
simpleeval>=0.9,<1.0
requests>=2.19,<2.20
django-url-filter>=0.3,<0.4
python-magic>=0.4,<0.5
docxtpl>=0.5,<0.6
Pillow>=5.3.0,<6.0.0
django-storages>=1.7,<1.8
django-versatileimagefield>=1.10,<2.0
docutils<0.15
boto3>=1.9,<=1.10
deepmerge<=1.0
jsonschema>=3.0,<3.1
weasyprint>=44

# SIG
mercantile>=1.0,<1.1
Fiona>=1.8,<1.9

# production
gunicorn
