psycopg2>=2.7,<2.8 --no-binary psycopg2
Django>=2.0,<2.1.0  # NOT LTS
djangorestframework>=3.7,<3.8
djangorestframework-gis==0.12
djangorestframework-jwt>=1.11,<1.12
drf-yasg>=1.9,<2.0
django-cors-headers>=2.2,<2.3
simpleeval>=0.9,<1.0
requests>=2.19,<2.20
django-url-filter>=0.3,<0.4
python-magic>=0.4,<0.5
docxtpl>=0.5,<0.6
Pillow>=5.3.0,<6.0.0
django-storages>=1.7,<1.8
django-versatileimagefield>=1.10,<2.0

# SIG
mercantile>=1.0,<1.1
Fiona>=1.7,<1.8

# production
gunicorn
